/* Standard Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My General Setup */

* {  
    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    width: auto;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}


header, h1, footer, main, h2, h3, p, ul, a, article, div, section, form {
    font-family: "Helvetica", "Arial", "sans-serif";
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
	font-size: 26px;
	font-weight: bolder;
    padding-top: 4px;
    padding-bottom: 4px;
}

h2{
    font-family: "Prompt", "Arial", "sans-serif";
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 11px;
    /* Need a lot of padding at the top to ensure heading is not
    obscured by navigation bar when moved to by section link */
    padding-top: 72px;
}

h3 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 4px;
}

.my-portfolio {   /* grid container */
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto auto auto auto auto;
}

.my-portfolio section {		/* grid items */
	position: relative;
	margin: 16px;
	padding: 16px;
}

.text-block {
	line-height: 20px;
	background-color: thistle;
}

.my-portfolio section:first-child {
	justify-self: center;
}

.my-portfolio img {
	display: block;
	padding: 5px;
	background-color: white;
}

#ccvd {   /* CCVD fig section */
	height: 70vw;
}
#ccvd figure {		/* CCVD figure box */
	position: relative;
	width: 95%;
	height: 95%;
	/* width: 930px; */
	/* height: 720px; */
	background-color: lightblue;
}

#ccvd-rig {   /* CCVD-rig image */
	position: absolute;
	width: 65%;
	top: 15%;
	left: 0;
}

#mfcs {		/* the MFCs image */
	position: absolute;
	width: 32%;
	top: 55%;
	left: 58%;
}

.my-portfolio video {   /* burner head video */
	position: absolute;
	width: 35%;
	top: 7%;
	left: 50%;
	padding: 5px;
	background-color: white;
}

.my-portfolio p {
	margin-bottom: 16px;
}

.my-portfolio cite span {
	font-weight: bold;
}


/* Tablet */
@media screen and (min-width: 768px) {



}

/* Desktop */
@media screen and (min-width: 1200px) {



}